---
import { HeroSlider1 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
    title="Remedium.ai | Contact"
    description="Contact, social and real adresses."
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: HeroSlider1.src,
                content: {
                    title: "Contact",
                    paragraph:
                        "Get stuck or need help? Contact us and we will help you out!",
                },
            }}
        />
        <ContactModule client:load />
    </main>
    <Footer />
</Layout>
