---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
    title="Remedium.ai | Homepage"
    description="Data for Healing | Healing with AI."
>
    <main class="page-content">
        <Hero
            client:load
            heroType="fullPageSlider"
            data={[
                {
                    subtitle: "Data for Healing. Healing with AI.",
                    title: "Remedium.ai",
                    background: HeroSlider1.src,
                    paragraph:
                        "Our goal is to leverage patient-centered precision care by data-driven decisions using advance analytics and artificial intelligence.",
                    button: {
                        text: "Get involved",
                        link: "/contact",
                    },
                },
                {
                    subtitle: "Your Patients. Your Data. Your AI.",
                    title: "Better Outcomes.",
                    background: HeroSlider3.src,
                    paragraph: "Remedium.ai utilizes AI-Technology to drive efficiency and quality for better outcomes. Thereby, we enhance safer care and stabilize costs.",
                    button: {
                        text: "Request further information",
                        link: "/infinite",
                    },
                },
            ]}
        />
    </main>
</Layout>
