---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import { HeroSlider3, InfiniteImg1, InfiniteImg2 } from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import { Footer } from "@modules/Footer";
---

<Layout
    title="Remedium.ai | Homepage"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:visible
            data={{
                image: HeroSlider3.src,
                content: {
                    title: "Services",
                    paragraph:
                        "Revolutionizing healthcare with AI-powered precision medicine. Remedium.ai provides personalized precision care, patient engagement tools, and clinical decision support to improve care outcomes and patient satisfaction.",
                },
            }}
        />
        <ServiceCards
            description="SERVICES"
            title="The Service We Provide For You"
            client:visible
            cards={[
                {
                    title: "Personalized Treatment Recommendations",
                    description:
                        "Remedium.ai uses machine learning algorithms to analyze patient data and provide personalized treatment recommendations to healthcare providers. Unlock the power of precision medicine. Get evidence-based treatment plans tailored to your patients' unique needs.",
                },
                {
                    title: "Patient Engagement and Adherence",
                    description:
                        "Remedium.ai's platform empowers patients to take a more active role in their care by providing educational content, symptom tracking tools, and medication reminders. Empower your patients with the knowledge and support they need to manage their condition. Improve adherence and outcomes with our patient-centric platform.",
                },
                {
                    title: "Clinical Decision Support",
                    description:
                        "Remedium.ai offers AI-driven clinical decision support tools that help healthcare providers identify optimal treatment strategies for complex medical cases. Make more informed decisions with data-driven insights from Remedium.ai. Get real-time guidance on the best treatment options for your patients, backed by evidence and expert opinion.",
                },
            ]}
        />

        <Hero
            heroType="textImage"
            client:visible
            data={{
                image: {
                    src: InfiniteImg1.src,
                    width: 590,
                    height: 300,
                    alt: "Hero Image",
                },
                title: "Lets make you Infinite!",
                paragraph:
                    "Become a part of the Infinite community and start sharing your thoughts, ideas, and experiences with like-minded people.",
            }}
        />
        <Hero
            heroType="textImage"
            client:visible
            data={{
                switchPlaces: true,
                image: {
                    src: InfiniteImg2.src,
                    width: 590,
                    height: 300,
                    alt: "Hero Image",
                },
                title: "Infinite Community",
                paragraph:
                    "with infinite dashboard you can easily manage your community, create posts, and interact with your followers.",
            }}
        />
    </main>
    <Footer />
</Layout>
