---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import { HeroSlider3, InfiniteImg1, InfiniteImg2 } from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import { Footer } from "@modules/Footer";
---

<Layout
    title="Remedium.ai | Homepage"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:visible
            data={{
                image: HeroSlider3.src,
                content: {
                    title: "Services",
                    paragraph:
                        "Revolutionizing healthcare with AI-powered precision medicine. Remedium.ai provides personalized precision care, patient engagement tools, and clinical decision support to improve care outcomes and patient satisfaction.",
                },
            }}
        />
        <!-- <ServiceCards
            description="SERVICES"
            title="Our Services For You"
            client:visible
            cards={[
                {
                    title: "1. Contracting and Data Laws.",
                    description:
                        "Remedium.ai uses does the contracting for different technology platforms. We sort out different healthcare compliance issues, e.g., data protection legislation, with you.",
                },
                {
                    title: "2. Licensing.",
                    description:
                        "Remedium.ai's patient-centric platform is a cloud service utilizing modern cloud technology. We serve the platform in legally available cloud zones.",
                },
                {
                    title: "3. Onboarding.",
                    description:
                        "In order to get real-time guidance on the best treatment options for your patients, an appropriate technical and medical onboarding with your teams need to be established.",
                },
            ]}
        /> -->

        <Hero
            heroType="textImage"
            client:visible
            data={{
                image: {
                    src: InfiniteImg1.src,
                    width: 590,
                    height: 300,
                    alt: "SBI - Safe Brain Initiative.",
                },
                title: "Decision Analytics using the SBI Dashboard.",
                paragraph:
                    "Become a part of the SBI community and start sharing your outcomes, and experiences with like-minded clinicians.",
            }}
        />
        <Hero
            heroType="textImage"
            client:visible
            data={{
                switchPlaces: true,
                image: {
                    src: InfiniteImg2.src,
                    width: 590,
                    height: 300,
                    alt: "Agentic Medical Solutions.",
                },
                title: "Agentic Medical Solutions for the AI-Age.",
                paragraph:
                    "Get to know our generative AI and mixed reality solutions. Coming soon ...",
            }}
        />
    </main>
    <Footer />
</Layout>
